{% extends 'base.html' %}



{% block content %}
<div class="container">
    <h1 class="text-muted mt-4 mb-2 text-center">About Football</h4>
    <h3 class="text-center">Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal. Unqualified, the word football normally means the form of football that is the most popular where the word is used. Sports commonly called football include association football (known as soccer in some countries).</h3>

</div>
{% endblock content %}    